<!-- feature -->
<!--
Photo by <a href="https://unsplash.com/@hansreniers?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hans Reniers</a> on <a href="https://unsplash.com/s/photos/science?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
-->
<div class="container-fluid bg-light rounded-lg" id="feature">
  <div class="position-relative top-50 start-50 translate-middle" id="feature-text">
    <h1>Zachary L. Skidmore</h1>
    <p>personal website and bioinformatic blog</p>
  </div>
</div>
<!-- feature -->
