#feature {
  background-image: url(../assets/images/feature/feature.jpg);
  height: 600px;
  background-size: cover;
}

#feature-text {
  font-family: 'Expletus Sans';
  font-weight: bold;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  border-radius: 50px;
  max-width: fit-content;
  padding: 25px;
  color: white;
}
